body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/921/109/263/league-of-legends-project-skins-summoners-rift-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    color: white;
    text-align: center;
    font-family: "Bungee Tint", sans-serif;
}
.container {
    background-color: rgb(33, 31, 31);
    width: 25%;
    height: 550px;
    border-radius: 16px;
    padding: 10px;
}
h2 {
    font-family: "Titillium Web", sans-serif;
    color: rgb(255, 30, 0);
}
h3 {
    font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 30, 0);
  font-size: small;
}
.red-btn {
    background-color: rgb(208, 63, 63);
    width: 150px;
    height: 40px;
    margin: 10px;
    border-radius: 35px;
    align-items: center;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
